# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Editor related
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Build and Distribution
dist/
build/
out/
tmp/
tmp-*
*.log
*.bak
*.swp
*.swo
*.fuse_hidden*
.*.sw?

# Node.js and npm
node_modules/
angular.json
package.json
package-lock.json
npm-debug.log*
yarn-error.log*
.pnpm-store/

# Angular specific
.angular/
angular.json.bak
tsconfig.app.json.tsbuildinfo
tsconfig.server.json.tsbuildinfo
tsconfig.spec.json.tsbuildinfo
e2e/

# Environment files (keep sensitive data out of Git!)
.env
.env.*
!.env.example

# Dependencies cache
lib-cov/
coverage/
test/unit/coverage/
s
