<mat-sidenav-container [ngClass]="displayMode">
  <mat-sidenav #sidenav mode="over" position="end" [(opened)]="sidenavOpen">
    <app-notes-form [note]="selectedNote" (save)="saveNote($event)" (close)="closeSidenav()"></app-notes-form>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <span>Notes App</span>
      <a mat-list-item routerLink="/">Notes</a>
      <a mat-list-item routerLink="/organize">Organize</a>
      <a mat-list-item routerLink="/settings">Settings</a>
    </mat-toolbar>
    <button mat-raised-button color="primary" (click)="createNote()">New Note</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
