<mat-sidenav-container [attr.data-theme]="theme$ | async">
  <mat-sidenav #sidenav mode="over" position="end" [(opened)]="sidenavOpen">
    <app-notes-form [note]="selectedNote"
                    (save)="saveNote($event)"
                    (close)="closeSidenav()">
    </app-notes-form>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <span>Notes App</span>
      <button mat-button routerLink="/">Notes</button>
      <button mat-button routerLink="/organize">Organize</button>
      <button mat-button routerLink="/settings">Settings</button>
    </mat-toolbar>
    <button mat-flat-button
            color="primary"
            class="fixed-plus-icon"
            (click)="createNote()">
      +
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
