@import '@angular/material/prebuilt-themes/azure-blue.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Default theme (light)
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #007bff;
  --secondary-color: #a7d0f3;
}

[data-theme="dark"] {
  --background-color: #38383c;
  --text-color: #ffffff;
  --primary-color: #66b0ff;
  --secondary-color: #1c2225;
}

[data-theme="midnight"] {
  --background-color: #0d1b2a;
  --text-color: #e0e1dd;
  --primary-color: #778da9;
  --secondary-color: #415a77;
}
