.category-section {
  margin: 16px;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.note-card {
  background-color: var(--secondary-color);
  color: var(--text-color);
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  min-height: 150px;
  padding: 16px;
}

.drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  font-size: 16px;
  color:  var(--text-color);
  writing-mode: vertical-rl;
  text-align: center;
  padding: 4px;
}

.note-content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;

  mat-card-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.2;
  }

  p {
    font-size: 14px;
    margin: 0;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.note-actions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 4px;
  margin: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  button {
    color: var(--text-color);
    transition: color 0.3s ease;

    &:hover {
      color: var(--background-color);
    }
  }

  button[aria-label="Edit note"] {
    display: none;
  }
}

